{% extends "base.html" %}
{% block content %}

<h2>Edit Record for {{ Habit.name }}:</h2>

<div>
    <form action="{% url 'edit_record' pk=record.pk %}" method="POST">
    {% csrf_token %} 
    {{ form.as_p }} 

        <div class="flex">
            <div>{{ habit.habit_records }}</div>
        </div>
 <br>
        <div>
            <button type="submit">Update Record</button><br>
            <button><a href="{% url 'list_habits' %}">Cancel</a></button>
        </div>
    </form>
</div>
{% endblock %}