{% extends "base.html" %}
{% block content %}
<h2>Recently Added Habits</h2>
<div class="flex flex-wrap">
    {% for habit in habits %}
    <div class="w-33 pa3">
        <p><b>Habit:</b> {{ habit.name }}</p>
        <p><b>Daily Goal:</b> {{ habit.goal }}</p>
        <p><b>Unit:</b> {{ habit.unit }}</p>
        
                        <a href="{% url 'records_habit' pk=habit.pk %}">Current Records</a> |
                        <a href="{% url 'add_record' pk=habit.pk %}">Add Record</a> |  
                        <a href="{% url 'edit_record' pk=habit.pk %}">Edit Record</a> | 
                        <a href="{% url 'edit_habit' pk=habit.pk %}">Edit Habit</a> |     
                        <a class="red" href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a>
                    </p>
    </div>
    <hr>
    {% endfor %}
</div>  
{% endblock %}