{% extends "base.html" %}
{% block content %}
<div class="w-33 pa3">
    <a href="{% url 'list_habits' %}">Back to Habit List</a>
        <h2>Records for {{ habit.name }}</h2>
        <p>(habit added: {{ habit.created_at }})</p>
            <div class="flex">
            <div class="pr2">
            <div>
                {% load static %}
                <h3>Target/Goal: {{ habit.goal }} {{ habit.unit }}</h3>
            </div>
                <br/>
               <a href="{% url 'add_record' pk=habit.pk %}">Add Record</a>
                <p><b><u>Daily entries for {{ habit.unit }}</u>:</b></p>
                <div class="flex">
                    {% for record in habit.habit_records.all %}
                        <div>{{ record.record }} on {{ record.date }}</div>
                            {% if record.record >= habit.goal %}
                                    <p>Goal achieved. You did it!</p>
                                        <a href="{% url 'edit_record' pk=record.pk %}">Edit Record</a> |
                                        <a href="{% url 'delete_record' pk=record.pk %}">Delete Record</a>
                                    <br/>
                                    <br/>
                            {% else %}
                                    <p>Goal not reached.</p>
                                        <a href="{% url 'edit_record' pk=record.pk %}">Edit Record</a> |
                                        <a href="{% url 'delete_record' pk=record.pk %}">Delete Record</a>
                                    <br/>
                                    <br/>
                            {% endif %}
                            </div>
                {% endfor %}
                
            </div>  
            </div>   
            </div>
</div>  
{% endblock %}