<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Project: Habit Tracker</title>
</head>
<body>
    <h1>Habit Tracker</h1>
    <div>
        {% if user.is_authenticated %}
        <p>Welcome back {{ user }}!</p>
        <a href="{% url 'new_habit' %}">Add New Habit</a> | <a href = "{% url 'auth_logout'  %}">Logout</a>
        <hr>
        {% else %}
            <p>Please Register or Login to see your Habit List!</p>
                <a href = "{% url 'registration_register'  %}">Register</a> | 
                <a href = "{% url 'auth_login'  %}">Login</a>
            <hr>
        {% endif %}
        </div>
    {% block content %}
    {% endblock %}
</body>
</html>